@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat.ttf);
}
@font-face {
    font-family: 'Lighthaus';
    src: url(../fonts/Lighthaus.ttf);
}
:root{
    --black: #0D0D0D;
    --gold: #E89900;
    --white: #FFFFFF;
    --ligth-gray: #DFD9D3;
    --gray: #818181;
    --dark-gray: #3D3D3D;
    --light-black:#181616;
    --yellow: linear-gradient(180deg, #FFCC48, #E89900);
    --bg: rgba(16,16,16,0.4);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--black);
    font-family: 'Montserrat', sans-serif;
}
body.no-scroll {
    overflow: hidden;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lighthaus', sans-serif;
    font-weight: 400;
    color:var(--white)
}
h1{
    font-size: 64px;
    line-height: 82px;
}
h2{
    font-size: 48px;
    line-height: 48px;
}
h3{
    font-size: 40px;
    line-height: 40px;
}
h4{
    font-size: 32px;
    line-height: 32px;
}
h5{
    font-size: 24px;
    line-height: 31px;
}
h6{
    font-size: 20px;
    line-height: 26px;
}
.text-1,.text-2,.text-3,.text-4,.text-5{
    font-family: 'Montserrat', sans-serif;
    color:var(--white)
}
.text-1,.text-2,.text-3{
    font-weight: 700;
}
.text-1{
    font-size: 24px;
    line-height: 29px;
}
.text-2{
    font-size: 20px;
    line-height: 20px;
}
.text-3{
    font-size: 18px;
    line-height: 22px;
}
.text-4{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.text-5{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.inner{
    display: flex;
}
a{
    text-decoration: none;
    color:var(--white)
}
.link{
    cursor: pointer;
    transition: all .3s ease;
}
.btn{
    cursor: pointer;
}
.input{
    width: 100%;
    border: 1px solid #818181;
    background: none;
    padding: 16px;
    color:#3D3D3D;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.input:hover{
    color:#818181;
    background: rgba(61, 61, 61, 0.10);
    border:1px solid #DFD9D3;
}
.input:focus{
    color:#818181;
    background: rgba(61, 61, 61, 0.10);
    border:1px solid #DFD9D3;
    outline: none;
}
.checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 18px;
    background: none;
    border: 2px solid #3D3D3D;
    border-radius: 4px;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
    outline: none;
    caret-color: transparent;
    user-select: none;
}
.checkbox:hover {
    border-color: #D0D0D0;
}
.checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox:checked{
    border-color: #D0D0D0;
}
.checkbox:checked::after {
    display: block;
}
@media (max-width:1199px){
    .container{
        max-width: 375px;
        padding: 0 16px;
    }
}
.mobile{
    display: none;
}
@media(max-width:1199px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}
/*header*/
.header{
    background: var(--bg);
    border-bottom: 1px solid rgba(61,61,61,0.6);
    position: absolute;
    width: 100vw;
    z-index: 9999;
}

.header__inner{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    gap: 32px;
    height: 90px;
    align-items: center;
}
.header__nav-link{
    font-weight: 400 !important;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.header__nav-link:hover{
    color:#DFD9D3;
    border-bottom: 1px solid var(--gold);
    transition: all .3s ease;
}
.header__contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:33px
}
.header__contact-number{
    display: flex;
    flex-direction: row;
    gap:8px;
}
.header__number-icon{
    width: 20px;
    height: 20px;
}
.header__contact-number:hover .header__number-icon,
.header__contact-number:hover .header__number-text{
    color:var(--gold);
    transition: all .3s ease;
}
.header__number-text{
    font-weight: 500;
}
.header__contact-btn{
    background: var(--gold);
    color:#101010;
    padding:8px 16px;
    border: none;
    font-weight: 700;
    cursor: pointer;

}
.header__contact-btn:hover{
    background: var(--yellow);
    color:#000000;
    transition: all .3s ease;
}
.header__burger{
    display: none;
    cursor: pointer;
}
.menu{
    display: none;
}

@media (max-width:1199px) {
    .header__nav, .header__contact{
        display: none;
    }
    .header__burger{
        display: flex;
        height: 20px;
        width: 20px;
    }
    .header__logo{
        width: 63px;
    }
    .header__inner{
        padding: 16px 0 12px;
    }
    .menu{
        display: block;
        position: absolute;
        opacity: 1;
        visibility: visible;
        top:-100%;
        width: 100vw;
        transition: all .3s;
        background: #101010;
    }
    .menu.active{
        opacity: 1;
        visibility: visible;
        top:88px;
    }
    .menu__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px 32px 68px;
    }
    .menu__nav, .menu__content-logo, .menu__social, .menu__content{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .menu__close{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    .menu__close-icon{
        width: 20px;
        height: 20px;
    }
    .menu__content-item{
        padding: 32px 0;
        border-bottom: 1px solid rgba(61, 61, 61, 0.40);
    }
    .menu__nav{
        gap:32px;
    }
    .menu__social{
        gap:16px;
    }
    .menu__social-item{
        display: flex;
        flex-direction: row;
        gap:8px;
    }
    .menu__social-text, .menu__social-icon{
        color:#818181;
    }
    .menu__social-icon{
        width: 24px;
        height: 24px;
    }
    .menu__scroll{
        position: fixed;
        z-index: 9999;
        border-top: 1px solid rgba(61, 61, 61, 0.40);
        border-bottom: 1px solid rgba(61, 61, 61, 0.40);   
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 26px 32px;
    }
    .menu__scroll svg{
        color:#fff;
    }
    .menu__content-logo img{
        width: 135px;
    }
}
/*intro*/
.intro{
    background: url(../images/intro.png) no-repeat center;
    background-size: cover;
    height: 900px;
}
.intro__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    padding: 255px 0 290px;
}
.intro__title{
    text-transform: uppercase;
    text-align: center;
}
.intro__subtitle{
    font-weight: 300;
    text-align: center;
    width: 668px;
}
.intro__subtitle span{
    font-weight: 500;
}
@media (max-width:1199px){
    .intro{
        background: url(../images/intro__mob.png) no-repeat center;
        background-size: cover;
        height: 720px;
    }
    .intro__title{
        font-size:35px;
        line-height: 46px;
        width: 334px
    }
    .intro__subtitle{
        font-size: 20px;
        width: 350px;
    }
}
/*main*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:128px;
}
.main section{
    width: 100%;
}
@media (max-width:1199px){
    .main{
        gap:80px;
    }
}
/*privilages*/
.privilages{
    padding:64px 0 0;
}
.privilages__inner{
    flex-direction: column;
    gap:32px;
    padding:0;
}
.privilages__title{
    color:#818181;
}
.privilages__table{
    border-top:1px solid rgba(61, 61, 61, 0.40);
    border-bottom: 1px solid rgba(61, 61, 61, 0.40);
}
.privilages__table-row{
    border-bottom: 1px solid rgba(61, 61, 61, 0.40);
}
.privilages__table-row:last-child{
    border:none;
}

.privilages__table-row .text-1{
    text-transform: uppercase;
}
.privilages__table-row .text-2, .privilages__table-row .text-1{
    font-weight: 400;
}
.privilages__table-row .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}
@media(max-width:1199px){
    .privilages{
        padding: 32px 0 0;
    }
    .privilages__title{
        text-align: center;
    }
    .privilages__table-row .container{
        padding: 32px 16px;
        flex-direction: column;
        gap:32px;
        text-align: center;
    }
    .privilages__table-row .text-1{
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
    }
    .privilages__table-row .text-2{
        color:#DFD9D3;
        font-size: 16px;
        width: 226px;
        line-height: 20px;
    }
    
}
/*order*/
.order__inner{
justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.order__title,.garanty__title{
    text-align: center;
    text-transform: uppercase;
}
.order__title span, .garanty__title span{
    line-height: 52px;
    color:#3D3D3D;
}
.order__items{
    background: url(../images/order.png) no-repeat center ;
    height: 730px;
    background-size: cover;

}
.order__items .container, .garanty__items{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-between;
}
.order-item, .garanty-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
}
.order__item-title, .garanty__item-title{
    text-transform: uppercase;
    margin-top:31px
}
.order__item-text, .garanty__item-text{
    font-weight: 500;
    color:#818181;
    text-align: center;
    margin-top: 8px;
}
@media(max-width:1199px){
    .order__title span{
        font-size: 32px;
        line-height: 41px;
    }
    .order__title{
        font-size: 32px;
        line-height: 41px;
    }
    .order__items .container{
        flex-direction: column;
        align-items: center;
        gap:48px;
    }
    .order__items{
    height: 947px;
        background: url('../images/order-mob.png') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-position-x: center;
        background-position-y: bottom;
        background-size: contain;
    }
    .order__item-icon{
        width: 50%;
    }
    .order__item-title{
        font-size: 18px;
        margin-top: 16px;
    }
    .order-item{
        width: 66%;
    }
}
/*catalog*/
.catalog__inner{
    flex-direction: column;
    align-items: center;
    gap:64px;
}
.catalog__text-title{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.catalog__text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.catalog__text .text-5{
    color:#DFD9D3;
}
.catalog__number-icon{
    color:#E89900;
    width: 14px;
    height: 14px;
}
.catalog__text-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:8px;
    height: max-content;
    transition: all 0.3s;
}
.catalog__link {
    font-weight: 500;
    color: #E89900 !important;
    border-bottom: 1px solid #E89900;
}

.catalog__text-link:hover .catalog__link {
    position: relative;
    color: transparent !important;
    background-image: linear-gradient(180deg, #FFCC48, #E89900);
    -webkit-background-clip: text;
    background-clip: text;
    border-bottom: none;
}

.catalog__text-link:hover .catalog__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5px;
    width: 100%;
    height: 1px;
    background: linear-gradient(180deg, #FFCC48, #E89900);
}

.catalog__text-link:hover .catalog__number-icon path {
  stroke: url(#icon-gradient);
}
.catalog__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    grid-template-rows: repeat(2, auto);
    width: 100%;
}
.catalog__content-item{
    background: linear-gradient(180deg, #161414, #272626);
    height: 392px;
    position: relative;
    max-width: 279px;
    transition: all .3s;
}
.catalog__content-item:hover{
background: linear-gradient(180deg, #161414, #242323);
}
.catalog__item-title{
    font-weight: 600;
}
.catalog__item-colors{
    display: flex;
    flex-direction: row;
    gap:8px;
}
.catalog-color{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.catalog-color.active{
    border: 1px solid white;
}
.catalog-color:nth-child(1) .color{
    background: #3D312B;
}
.catalog-color:nth-child(2) .color{
    background: #000000;
}
.catalog-color:nth-child(3) .color{
    background: #32493D;
}
.catalog-color:nth-child(4) .color{
    background: #00295F;
}
.catalog-color .color{
    width: 10px;
    height: 10px;
}
.catalog__item-info{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    top: 260px;

}
.catalog__item-image{
    width: 100%;
}
/*about*/
.about{
    background: url(../images/about.png)no-repeat right;
    height: 842px;
}
.about__inner{
    display: flex;
    flex-direction: column;
    gap:64px
}
.about__text{
    color:#DFD9D3;
    width: 42%;
}
.about-btn{
    padding: 16px 32px;
    font-weight: 700;
    border:1px solid #3D3D3D;
    background: none;
    width: max-content;
    transition: all .3s ease;
}
.about-btn:hover{
    background: #181616;
    border:1px solid rgba(129, 129, 129, 0.60);
}
@media (max-width:1199px){
.about {
    position: relative;
    height: auto;
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
}
.about {
    background: url(../images/about.png) center / cover no-repeat;
    position: relative;
    z-index: 2;
}
.about__inner{
    gap:48px;
    padding: 33px 0;
    position: relative;
    z-index: 999;
}
    .about__title span{
        color: #818181;
        text-align: start;
    }
    .about__title{
                font-size: 24px;
        line-height: 31px;

    }
    .about__title p{
        text-align: end;
    }
    .about__text{
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
    }
    .about-btn{
        width: 100%;
    }
}
/*slider*/
.comment__title{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.line-with-circle,.line-with-circle-right {
  width: 34%;
  height: 1px;
  background-color: #3D3D3D;
  position: relative;
}
.line-with-circle::after {
content: "";
  position: absolute;
  right: 0;
top: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #3D3D3D;
  border-radius: 50%;
}
.line-with-circle-right::before {
  content: "";
  position: absolute;
  left: 0;
top: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #3D3D3D;
  border-radius: 50%;
}
.comment__subtitle{
    text-align: center;
    margin-top: 4px;
    color:#3D3D3D;
}
.comment__btn{
    background: #E89900;
    color:#101010;
    padding: 16px 32px;
    border:none;
    font-weight: 700;
    
}
.comment__btn:hover{
    background: var(--yellow);
    transition: all .3s;
}
.comment .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap:64px;
    margin-top: 64px;
}
.comment-slide{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    width: 100%;
}
.comment__slide-image{
    width: 206px;
  height: 206px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.comment__slide-prof,.comment__slide-date{
    font-weight: 500;
    color:#818181;
}
.comment__slide-text{
    margin:24px 0;
    font-weight: 500;
    text-align: center;
}
.comment__slide-name{
    margin:16px 0 4px;
}
.comment__slider{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.comment__slide-mark{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
}
.star-icon{
    width: 15px;
    user-select: none;
    height: 14px;
}
.comment-slider__btn{
    position: absolute;
    
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
  height: 20px;
  z-index: 999;
  user-select: none;
}
.arrow-icon{
    width: 15px;
    height: 12px;
    color:white;
    user-select: none;
}
.comment-slider__btn--next .arrow-icon{
    rotate: 45deg;
}
.comment-slider__btn--prev .arrow-icon{
    rotate: 225deg;
}
.comment-slider__btn--prev[aria-disabled="true"] .arrow-icon,
.comment-slider__btn--next[aria-disabled="true"] .arrow-icon,
.comment-slider__btn--prev[aria-disabled="true"] .comment-slide__btn-text,
.comment-slider__btn--next[aria-disabled="true"] .comment-slide__btn-text {
    color: #3D3D3D;
}
.comment-slider__btn--prev{
    left:107px;
    
    top: 39%;
  transform: translateY(-50%);
}
.comment-slider__btn--next{
    right: 107px;
    top: 41%;
  transform: translateY(-50%);
}
.comment-slide__btn-text{
    display: none;
}
@media (max-width:1199px){
    .comment__slide-image{
        width: 100px;
        height: 100px;
    }
    .comment__title{
        width: 100%;
    }
    .line-with-circle, .line-with-circle-right{
        width: 15%;
    }
    .commet__title-text{
        font-size: 32px;
        line-height: 41px;
    }
    .comment__subtitle{
        font-size: 20px;
        width: 281px;
    }
    .comment__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .comment .container{
        margin-top: 32px;
        gap:32px;
    }
    .comment-slide__btn-text{
    display: block;
    font-size: 14px;
    line-height: 17px;
    color:white;
}
.comment__slide-name {
    font-size: 16px;
    line-height: 20px;
}
.comment__slide-prof, .comment__slide-date{
    font-size: 14px;
    line-height: 17px;
}
.mark-text{
    font-size: 16px;
    line-height: 20px;
}
.comment__slide-mark{
    margin-top: 16px;
}
.comment__slide-text{
    font-size: 14px;
    margin:16px 0;
    line-height: 17px;
}
.comment__btns{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;

}
.comment-slider__btn{
    position: relative;
        display: flex;
    flex-direction: row;
    width: max-content;
    align-items: center;
    gap:8px;
}
.comment-slider__btn--prev{
    top:inherit;
    left: inherit;
    transform:none;

}
.comment-slider__btn--next{
    top:inherit;
    right: inherit;
    transform:none
}
.comment__btn{
    padding: 12px 24px;
}
}
/*qa*/
.qa__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 13%;
}
.qa__inner-intro{
    width: 34.12%;
    display: flex;
    flex-direction: column;
    gap:64px;
}
.qa__title{
    width: 420px;
}
.qa__title span{
    color:#3D3D3D;
    font-size: 24px;
}
.qa__intro{
    position: relative;
    height: 584px;
    width: 423px;
}
.qa__intro-block{
    width: 300px;
    height: 430px;
    border-left:1px solid #3D3D3D;
    position: absolute;
    border-bottom: 1px solid #3D3D3D;
    bottom: 47px;
    left:40px;
}
.qa__intro-block:first-child{
    bottom: 0;
    left:0;
}
.qa__intro-image{
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;
}
.accordion-icon{
width: 18px;
  height: 12px;
    color:white;
    rotate:90deg;
    stroke-width: 2px;
}
.accordion-title{
    font-weight: 400;
}
.accordion-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    cursor: pointer;
    user-select: none;
    gap:10px;
}
.accordion{
    max-width: 697px;
    width: 100%;
    border-top:1px solid rgba(61, 61, 61, 0.40)
}
.accordion-container{
    height: auto;
    border-bottom:1px solid rgba(61, 61, 61, 0.40);
}
.accordion-header:hover .accordion-icon, .accordion-header:hover .accordion-title{
    color:#E89900;
    transition: all .3s;
}
.accordion__body-text{
    color:#818181;
}
.accordion-body{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
}
.accordion-body.active{
    opacity: 1;
    max-height: 500px;
    transition: all .3s;;
    padding: 16px 0 24px;
}
.accoridon__contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.accordion__contact-text{
    font-weight: 400;
}
.accrodion__contact-btn{
    padding: 24px 32px;
    border: 1px solid rgba(61, 61, 61, 0.40);
    background: none;
    display: flex;
    flex-direction: row;
    gap:16px;
    align-items: center;
}
.accrodion__contact-btn:hover{
    transition: all .3s;
    background: #181616;
    border:1px solid rgba(129,129,129,.6)
}
.accordion__btn-icon{
    rotate: 45deg;
    color:white;
    width: 15px;
    height: 12px;
    stroke-width: 2px;
    }
@media (max-width:1199px){
    .qa__inner{
        flex-direction: column;
        gap:48px;
    }
    .qa__inner-intro,.qa__title{
        width: 100%;
    }
    .qa__title{
        font-size:24px;
        text-align: center;
    }
    .qa__title span{
        font-size: 20px;
    }
    .qa__intro{
        display: none;
    }
    .accordion-icon{
        stroke-width: 1px;

    }
    .accordion-title{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .accordion__body-text{
        font-size:16px;
        font-weight: 400;
    }
    .accordion__contact-text{
        font-size:16px;
        font-weight: 700;
    }
    .accordion__btn-icon{
        display: none;
    }
    .accordion__btn-title{
        font-size: 16px;
        font-weight: 700;
        text-decoration: underline;
    }
    .accrodion__contact-btn{
        padding: 0;
        border:none;
    }
    .accoridon__contact{
        padding: 24px 0;
        border-bottom: 1px solid rgba(61, 61, 61, 0.40);
    }
    .accrodion__contact-btn:hover{
        border:none;
        background: none;
        transition: all .3s;
    }
    .accrodion__contact-btn:hover .accordion__btn-title{
        color:#E89900;
        transition: all .3s;
    }
    
}
/*gallery*/
.gallery__intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery-text{
    color:#DFD9D3;
    text-align: end;
    width: 468px;
}
.gallery__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:32px 0;
    margin-top: 64px;
}
.gallery-item{
    width: 30.8%;
    height: 100%;
}
.gallery-item:first-child{
    width: 66.4%;
}
.gallery-item:last-child{
    width: 100%;
}
.gallery__item-block{
    width: 30%;
}
.gallery__block-item{
    width: 100%;
}
.gallery__items picture{
    width: 66.4%;
}
.gallery__text-link{
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: center;
    margin-top: 16px;
}
.gallery__number-icon{
    width: 15px;
    height: 15px;
    color:white;
}
.gallery__link{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}
.gallery__text-link:hover .gallery__link, .gallery__text-link:hover .gallery__number-icon{
    color:var(--gold);
    transition: all .3s;
}
@media (max-width:1199px){
    .gallery__intro{
        flex-direction: column;
    }
    .gallery-title{
        font-size:32px;
        line-height: 41px;
        text-align: center;
    }
    .gallery-text{
        font-size:16px;
        line-height: 20px;
        text-align: center;
        width: 100%;
        margin-top: 16px;
    }
    .gallery__items{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap:16px;
        margin-top: 48px;
    }
    .gallery-item:first-child{
        display: none;
    }
    .gallery__item-block{
        width: 100%;
        order: 3;
    }
    .gallery__items picture{
        width: 100%;
        order:1;
    }
    .gallery-item{
        order:2;    
        width: 100%;
    }
}
/*exp*/
.exp__title{
    text-align: center;
    margin: 0 0 64px;
}
.exp__title span{
    font-size: 40px;
    color:#3D3D3D;
}
.exp__content{
    display: flex;
    flex-direction: column;
}
.exp__content-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.exp__row-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40.5%;
    gap:24px
}
.exp__row-image{
    width: 50%;
}
.exp__item-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    text-transform: uppercase;
    color:var(--white);
}
.exp__item-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color:#DFD9D3;
    text-align: center;
}
.exp__item-line{
    width: 108px;
    background: #3D3D3D;
    height: 1px;
}
@media (max-width:1199px){
    .exp__row-image{
        display: none;
    }
    .exp__row-item{
        width: 100%;
    }
    .exp__content{
        gap:48px;
    }
    .exp__item-text{
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
    .exp__item-title{
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
    }
    .exp__title{
        margin: 0 0 48px;
        font-size: 32px;
        line-height: 37px;   
    }
    .exp__title span{
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
    }
}
/*garanty*/
.garanty__inner{
    flex-direction: column;
    align-items: center;
}
.garanty-item{
    width:18%
}
.garanty-icon{
    color:var(--white);
    width: 60px;
  height: 70px;
}
.garanty-item:nth-child(1) .garanty-icon{
    width: 59px;
    height: 67px;
}
.garanty-item:nth-child(2) .garanty-icon{
    width: 67px;
    height: 67px;
}
.garanty-item:nth-child(3) .garanty-icon{
    width: 53px;
    height: 67px;
}
.garanty-item:nth-child(4) .garanty-icon{
    width: 56px;
    height: 67px;
}
@media (max-width:1199px){
    .garanty__title{
        font-size: 32px;
    }
    .garanty__items{
        flex-direction: column;
        margin-top: 48px;
        gap:32px;
    }
    .garanty-item{
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 0 32px;
    }
  .garanty__item-title,
  .garanty__item-text {
    grid-column: 2;
    margin: 0;
  }

  .garanty-icon {
    grid-column: 1;
    grid-row: 1 / span 2;
    scale: 0.6;
   color:#E89900; 
   width: 67px !important;
   height: 66px !important
  }
  .garanty__item-title{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .garanty__item-text{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: start;
  }
  .garanty-item:nth-child(1) .garanty__item-text{
    margin-top:-20px
  }
}
/*contact*/
.contact{
    background: url(../images/contact.png) no-repeat center;
    background-size: cover;
    height: 810px;
}
.contact__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 171px 0;
    width: 100%;
}
.contact-line{
    margin:32px 0;
    background: #818181;
    width: 100px;
    height: 1px;
}
.contact__btn{
    background: #E89900;
    color:#101010;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 32px;
    border: none;
    margin:112px 0;
}
.contact__btn:hover{
    background: var(--yellow);
    transition: all .3s;
}
.contact__social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:80px;
    width: 826px;
    margin-right: 88px;
}
.contact__social-item{
    display: flex;
    flex-direction: row;
    gap:8px;
    padding: 8px 41px;
    align-items: center;
}
.contact__social-icon{
    color:white;
    width: 24px;
    height: 24px;
}
.contact__social-item:hover .contact__social-icon, .contact__social-item:hover .contact__social-text{
    color:#E89900;
    transition: all .3s;
}
@media (max-width:1199px){
    .contact{
        background: url('../images/contact-mob.png')no-repeat center;
        height: auto;
        background-size: cover;
    }
    .contact__inner{
        padding: 48px 0;
    }
    .contact__title{
        font-size: 32px;
        line-height: 41px;
        text-align: center;
    }
    .contact-line{
        margin:16px 0;
    }
    .contact__subtitle{
        text-align: center;
        font-size: 18px;
    }
    .contact__btn{
        margin: 48px 0;
    }
    .contact__social{
        flex-direction: column;
        width: 100%;
        margin:0;
        gap:8px;
        align-items: center;
    }
}
/*popup__form*/
.popup__form{
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all .3s;
    background: rgba(0,0,0,0.5);
    top:-100%
}
.popup__form.active{
    opacity: 1;
    top:0;
}
.popup__form-content{
    background: #181616;
  width: 938px;
  height: 686px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 16px;
}
.form__popup-close{
    width: 100%;
    border: 1px solid rgba(61, 61, 61, 0.80);
    padding: 4px;
    display: flex;
    justify-content: end;
}
.form__popup-icon{
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.form__popup-items{
    padding: 32px 48px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form__popup-item{
    max-width: 372px;
}
.checkbox__container{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    gap:24px;
    align-items: center;
}
.form__popup-logo{
    margin: 94px 0;
}
.checkbox__container label{
    font-weight: 400;
}
.checkbox__container label span{
    text-decoration: underline;
}
.form__popup-btn{
    font-size: 18px;
    font-weight: 700;
    color:#101010;
    background: #E89900;
    padding: 16px 54px;
    line-height: 18px;
    border: none;
    width: 100%;
}
.form__popup-btn:hover{
    background: var(--yellow);
    transition: all .3s ease;
}
@media (max-width:1199px){
    .popup__form-content{
        width: 343px;
        height: 548px;
        padding: 16px 16px 32px;
    }
    .form__popup-image{
        display: none;
    }
    .form__popup-items{
        flex-direction: column;
        padding: 0;
    }
    .form__popup-item{
        max-width: 311px;
        margin-top: 16px;
        align-items: center;
        display: flex;
    flex-direction: column;
    }
    .form__popup-title{
        font-size: 32px;
        line-height: 41px;
        text-align: center;
    }
    .form__popup-logo{
        margin: 64px 0;
        width: 140px;
    }
    .checkbox__container{
        margin: 32px 0;
    }
    .checkbox__container label{
        font-size: 14px;
        line-height: 17px
    }
}
/*phone call*/
.phone__call{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gold);
    position: fixed;
    z-index: 9998;
    top: 90%;
    left: 93%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.phone__call-icon{
    width: 28px;
    height: 28px;
    fill: none;
}
.phone__call:hover{
    background: var(--yellow);
    transition: all .3s ease;
}
.phone__call-popup{
    position: fixed;
    z-index: 9999;
    bottom:-100%;
    right:0;
    width: 333px;
    height: 100vh;
    background: rgba(13,13,13,.95);
    transition: all .3s ease;
    padding: 32px;
    opacity: 0;
}
.phone__call-popup.active{
    opacity: 1;
    transition: all .3s ease;
    bottom:0;
}
.phone__close-icon{
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.phone__popup-close{
    width: 100%;
    display: flex;
    justify-content: end;
}
.phone__popup-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    height: 100%;
}
.phone__popup-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.phone__popup-logo{
    width: 132px;
}
.phone__form-btn{
    font-size: 18px;
    font-weight: 700;
    color:#101010;
    background: #E89900;
    padding: 16px 54px;
    line-height: 18px;
    border: none;
    width: 100%;
}
.phone__form-btn:hover{
    background: var(--yellow);
    transition: all .3s ease;
}
.phone__popup-form{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-top: 64px;
}
@media(max-width:1199px){
        .phone__call{
        display: none;
    }
}
/*footer*/
.footer{
    background: #181616;
}
.footer__inner{
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    gap:32px;
}
.footer__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__logo{
    max-width: 283px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo-image{
    width: 200px;
    margin-bottom: 23px;
}
.footer__logo-text,.footer__logo-title{
    text-align: center;
}
.footer__logo-text{
    font-weight: 400;
    color: #818181;
    margin-top: 8px;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.footer__contact p:hover{
    color:var(--gold);
    transition: all .3s;
    cursor: pointer;
}
.footer__contact-social{
    display: flex;
    flex-direction: row;
    gap:16px;
}
.footer__social-icon{
    width: 24px; 
    height: 24px;
    color: #fff;
}
.footer__social-icon:hover{
    color:var(--gold);
    transition: all .3s;
    cursor: pointer;
}
.footer__about,.footer__nav{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.footer__about-text, .footer__nav-text{
    cursor: pointer;
    color: #818181;
}
.footer__about-text:hover, .footer__nav-text:hover{
    text-decoration: underline;
    color:#DFD9D3;
    transition: all .3s;
}
.footer__about-title, .footer__nav-title{
    font-weight: 600;
    margin-bottom: 8px;
}
.footer__under{
    border-top:1px solid #3D3D3D;
    padding: 32px 0 0;
    display: flex;
    flex-direction: column;
    gap:4px;
}
.footer__under-text{
    color:rgba(129,129,129,.5)
}
.footer__social-icon:first-child{
    display: none;
}
@media (max-width:1199px){
    .footer__about-text, .footer__nav-text{
        text-align: center;
    }
    .footer__content{
        flex-direction: column;
    }
    .footer__logo-image{
        width: 146px;
    }
    .footer__logo-title{
        font-size: 16px;
    }
    .footer__logo-text{
        font-size: 14px;
    }
    .footer__nav{
        order: 3;
        align-items: center;
        margin-top: 32px;
    }
    .footer__about{
        order:4;
        align-items: center;
        margin-top: 40px;
    }
    .footer__under p{
        text-align: center;
        font-size: 14px;
    }
    .footer__logo{
        max-width: 100%;
        margin-bottom: 32px;
        align-items: center;
    }
    .footer__contact{
        padding: 32px 0 41px;
        align-items: center;
        border-top: 1px solid rgba(61, 61, 61, 0.30);
        border-bottom: 1px solid rgba(61, 61, 61, 0.30);
    }
    .footer__contact p:nth-child(2){
        display: none;
    }
    .footer__social-icon:first-child{
        display: flex;
    }
}